/*==================== GOOGLE FONTS ====================*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/

:root {
    --header-height: 3rem;
    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 206;
    /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 100%, 41.2%);
    --white: #fff;
    --black: #000;
    --black-blue: #008;
    --light: #EEF9F0;
    --maron: #a80;
    --orange: #FB8103;
    --green: #11D686;
    --light-hight: #aaa;
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: var(--white);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}


/* Font size for large devices */

@media screen and (min-width: 968px) {
     :root {
        --big-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/*========== Variables Dark theme ==========*/

body.dark {
    /* HSL color mode */
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --white: #000;
    --black: #fff;
    --black-blue: #eef;
    --light: #456;
    --light-hight: #ddd;
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 29%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}


/*========== Button Dark/Light ==========*/

.nav__btns {
    display: flex;
    align-items: center;
}

.app__bar {
    background-color: var(--white) !important;
    border: 0px solid var(--white) !important;
}

.change-theme {
    font-size: 20px;
    color: var(--text-color-light);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover {
    color: var(--first-color);
}


/*==================== BASE ====================*/

* {
    box-sizing: border-box;
    padding: 0px;
    font-family: var(--body-font);
    margin: 0px;
}

html {
    scroll-behavior: smooth;
    font-family: var(--body-font);
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: #fff;
    /*var(--body-color);*/
    color: var(--text-color);
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    font-weight: var(--font-semi-bold);
}

p,
div {
    color: var(--text-color);
    font-weight: 300;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

label {
    color: var(--light-hight);
}

[x-cloak] {
    display: none !important;
}

.text-italic- {
    font-style: italic !important;
}

.bg-light- {
    background-color: var(--light);
}

.bg-primary- {
    background-color: var(--first-color) !important;
}

.bg-green- {
    background-color: var(--green) !important;
}

.bg-white- {
    background-color: var(--white);
}

input.form-control-,
select.form-control- {
    border: 0.05px solid #ccc;
    width: 100%;
    padding: 5px;
    height: 35px;
    font-size: 15px;
    color: var(--text-color);
    border-radius: 1px;
    font-family: sans-serif;
    outline-color: var(--black);
}

textarea.form-control- {
    border: 0.05px solid #ccc;
    padding: 8px;
    width: 100%;
    font-size: 15px;
    color: var(--text-color);
    border-radius: 1px;
    outline-color: var(--black);
}

input.form-control-:focus,
select.form-control-:focus,
textarea.form-control-:focus {
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
    outline-color: var(--first-color);
}

.error {
    color: red;
    font-size: 14px;
}


/**************sidebar****************/

.sidebar {
    height: 100vh !important;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 255, 0.15) !important;
}

#avatar {
    height: 70px;
    width: 70px;
}


/************content ***********/

.content {
    background-color: #EEF9F0;
    height: 100vh !important;
}


/*************/